@charset "UTF-8";

#submit
{
	width:100%;
}

.title
{
	border-bottom:2px solid #aaaaaa;
	letter-spacing:2px;
}

.title>span
{
	font-family:chinese2;
	font-size:150%;
	border-bottom:6px solid #aaaaaa;
}

.sm-title
{
	letter-spacing:2px;
}

.sm-title>span
{
	font-family:chinese2;
	font-size:100%;
}

.item
{
	height:50px;
	display: inline-block;
	padding:10px;
	border-bottom:2px solid #000000
}

.item>a
{
	color:#000000;
	font-family:chinese2;
	font-size:20px;
}

.search
{
	color:#f4ac83;
	padding:10px;
	font-size:20px;
	list-style-type:none;
}

.search>span
{
color:#F3AC83;
}

.item>a:hover
{
	text-decoration: none;
}

#close
{
	color:#808080;
}

#close:hover
{
	color:#820406;
}


.hm-btn-body
{
	font-family: chinese2;
	border-bottom: 1px solid #aeacac;
	height:70px;
}

.hm-btn-body>div>span
{
	display:block;
}

.hm-btn-hover2
{
	color:#959595;
}

.hm-btn-hover2:hover
{
	color:#323232;
	text-decoration:none;
}

.hm-btn-sign
{
	background-color:#C1C0C0;
}

.hm-btn-sign-ptn
{
 text-align: center;
}
