@charset "UTF-8";
/* CSS Document */

/* header */
.navbar-brand{
 font-family:Tekton Pro;
 letter-spacing: 5px;
 font-size:40px;
 padding-top: 20px;
}

/* main */
body
{
	background-color:#1F1F1F;
}

