@font-face
{
	font-family:chinese1;
	src: url('华康俪金黑W8.TTF');
}

@font-face
{
	font-family:chinese2;
	src: url('SourceHanSansCN-Light.otf');
}

@font-face
{
	font-family: Tekton Pro;
	src:url('TektonPro-Bold.otf');
}

@font-face
{
	font-family: Hobo Std;
	src:url('HoboStd.otf');
}

