body{
  background-color: #F0F0F0;
}
     
#toper {
  background-color:black;
  color:white;
  padding:5px;
  font-family:"Microsoft YaHei" 
}

#header {
  color:black;
  text-align:center;
  padding:5px;
} 
   
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: black;
  font-family:"Microsoft YaHei" 
  }

b li {
  float: right;
  }

b li a {
  display: block;
  color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

b li a:hover {
  background-color: #222;
}

.gray{
  color:gray;
}
         
.orange{
  color: orange;
}
		      
       

       
img{
  margin:10px;
  padding:20px;
}

.center{
  float: center;
  position: center;
  text-align: center;
}

button{
  color: black;
  background-color:white; 
  text-decoration-color:balck;
  margin:1% 6% 1% 6%;
  font-family: "Microsoft YaHei";
}


h1{
	word-spacing: 40px;
	font-family: STFangsong;
    
}

h2{
	word-spacing: 30px;
}

.btn-default{
	word-spacing: 15px;
	letter-spacing: 5px;
}

.black-board {
	background-color: black;
	height: 50px;
	width: 100%;
	margin-top: 37px;
}
