body{
	background-color:#FFFFFF;
	font-family:chinese2;
}


#btn-course
{
	background-color:rgba(0,0,0,0);
	color:rgba(153,153,153,1.00);
	border:solid rgba(153,153,153,1.00) 1px;
}

#btn-course:hover
{
	color:white;
	border:solid white 1px;
}

.navbar-brand
{
	font-family:Tekton Pro;
	padding-top:20px;
	font-size:40px;
	letter-spacing: 5px;
}

.sign
{
	font-family:Hobo Std;
	font-size:80px;
	color:white;
}

/*旋转字体*/
.beat-char {
    line-height: 3.4em;
    position: relative;
	display: inline-block;
	background: transparent;

}

.rotate{
	transform:rotate(360deg) ;
	-ms-transform:rotate(360deg); 	/* IE 9 */
	-moz-transform:rotate(360deg); 	/* Firefox */
	-webkit-transform:rotate(360deg); /* Safari 和 Chrome */
	-o-transform:rotate(360deg);
	-webkit-transition-duration: 0.7s;

}